@{
    ViewBag.Title = "Функции";
}
<div class="row ">
    <div class="col-sm-3">
        <h1>Добавить МОЛ</h1>
        <p>Добавление МОЛ</p>
        <a href="/Functions/AddMOL" class="btn btn-primary" role="button">Добавить МОЛ</a>
    </div>
    <div class="col-sm-5">
        <h1>Назначить в отдел</h1>
        <p>Выбор МОЛ и назначение в отдел</p>
        <a href="/Functions/AssignMOL" class="btn btn-primary" role="button">Выполнить запрос</a>
    </div>
    <div class="col-sm-4">
        <h1>Добавить ОС</h1>
        <p>Добавление ОС</p>
        <a href="/Functions/AddOS" class="btn btn-primary" role="button">Добавить ОС</a>
    </div>
</div>
<div class="row ">
    <div class="col-sm-3">
        <h1>Прикрепление</h1>
        <p>Прикрепить МОЛ к ОС</p>
        <a href="/Functions/PinMOL" class="btn btn-primary" role="button">Прикрепить МОЛ</a>
    </div>
    <div class="col-sm-5">
        <h1>Изменить стоимость ОС</h1>
        <p>Изменение стоимости ОС связи с перерасчетом или др.</p>
        <a href="/Functions/CostChange" class="btn btn-primary" role="button">Выполнить запрос</a>
    </div>
    <div class="col-sm-4">
        <h1>Карточка ОС</h1>
        <p>Отображает всю необходимую информацию об ОС</p>
        <a href="/Functions/OScard" class="btn btn-primary" role="button">Карточка ОС</a>
    </div>
</div>
<div class="row ">
    <div class="col-sm-3">
        <h1>Отчет по стоимости ОС</h1>
        <p>Отчет по измененнии стоимости ОС </p>
        <a href="/Functions/ReportOSIndex" class="btn btn-primary" role="button">Прикрепить МОЛ</a>
    </div>
    <div class="col-sm-5">
        <h1>Загруженность отделов</h1>
        <p>Отчет по загруженности отделов</p>
        <a href="/Functions/ReportWorkload" class="btn btn-primary" role="button">Выполнить запрос</a>
    </div>
</div>