@{
    ViewBag.Title = "Функции";
}
добавить мол
прикрепить к отделу
добавить ОС
прикрепить Мол к ОС
Карточка ОС (+подразделение, остаточная стоимость)
изменить стоимость ОС
<div class="row ">
    <div class="col-sm-6">
        <h1>Занятость сотрудников</h1>
        <p>Отображает что делает каждый из сотрудников</p>
        <a href="/Functions/AddMOL" class="btn btn-primary" role="button">Добавить МОЛ</a>
    </div>
    <div class="col-sm-6">
        <h1>Незанятые работники</h1>
        <p>Отображает работников, которые ничем не заняты</p>
        <a href="/Functions/FreeEmployees" class="btn btn-primary" role="button">Выполнить запрос</a>
    </div>
</div>