@{
    ViewBag.Title = "Таблицы";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-sm-4">
        <h3>Материально ответственные лица</h3>
        <p>Таблица с информацией о МОЛ.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код сотрудника</li>
            <li>ФИО</li>
            <li>Дата рождения</li>
            <li>Дата прибытия в организацию</li>
        </ul>
        <a href="/MOLs/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
    <div class="col-sm-4">
        <h3>Отделы</h3>
        <p>Таблица с информацией о отделах.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код отдела</li>
            <li>Название отдела</li>
            <li>Адрес</li>
        </ul>
        <a href="/units/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
    <div class="col-sm-4">
        <h3>Назначение</h3>
        <p>Таблица с информацией о назначении в отдел.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код назначения</li>
            <li>Код сотрудника</li>
            <li>Код отдела</li>
            <li>Дата назначения</li>
        </ul>
        <a href="/assigments/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Основные средства</h3>
        <p>Таблица с информацией об основных средствах</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код ОС</li>
            <li>Класс ОС</li>
            <li>Наименование ОС</li>
            <li>Инвертарный номер</li>
            <li>Норма износа</li>
            <li>Дата начала обслуживания</li>
            <li>Время обслуживания</li>
        </ul>
        <a href="/OS/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
    <div class="col-sm-4">
        <h3>Прикрепление к ОС</h3>
        <p>Таблица с информацией о прикреплении сотрудника к ОС.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код прикрепления</li>
            <li>Код МОЛ</li>
            <li>Код ОС</li>

        </ul>
        <a href="/pins/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>

    <div class="col-sm-4">
        <h3>Цены</h3>
        <p>Таблица с историей цен ОС.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код элемента истории </li>
            <li>Код ОС</li>
            <li>Цена</li>
            <li>Дата изменения цены</li>
        </ul>
        <a href="/costs/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Класс ОС</h3>
        <p>Таблица с информацией о классах ОС.</p>
        <p>Содержит поля:</p>
        <ul>
            <li>Код класса</li>
            <li>Название класса</li>
            <li>Кодировка</li>
        </ul>
        <a href="/groups/Index" class="btn btn-primary" role="button">Перейти к таблице</a>
    </div>
</div>